= form_for(@branch, :html=> {:multipart => true,:class => "uk-form uk-form-stacked"},:url => {:controller => 'branch',:action=>"create"}) do |f|
  - if @branch.errors.any?
    #error_explanation
    = pluralize(@branch.errors.count, "error")
    prohibited this @branch from being saved:

  %ul
  - @branch.errors.full_messages.each do |message|
    %li= message

  .uk-form-row
    = f.label :branch_name, :class => "uk-form-label"    
    .uk-form-controls
      -if @store.name.present?
        
        = @store.name
        \-
        -if @branch_name.present? 
          = @branch_name
          = f.hidden_field :sub_name, :value => @branch_name
        -else
          = f.text_field :sub_name, :placeholder => '<melaka>'        
  .uk-form-row
    = f.label :contact_number, :class => "uk-form-label"    
    .uk-form-controls
      -if @branch_contact_no.present? 
        =@branch_contact_no
      -else
        = f.text_field :contact_no, :placeholder => 'Contact Number'  
  .uk-form-row
    = f.label :business_hours, :class => "uk-form-label"    
    .uk-form-controls.uk-width-2-5
      -@days.each do |day|
        .uk-grid.uk-grid-small
          .uk-width-3-10
            = f.label day, :class => "uk-width-1-1"            
          .uk-width-3-10            
            = f.time_field ('business_hours_from_'+day.to_s).to_sym,:class => "uk-width-1-1", :value => @branch.business_hours_from_monday

          .uk-width-1-10.uk-text-center
            to
          .uk-width-3-10.uk-text-center           
            = f.time_field 'business_hours_to_'+day.to_s,:class => "uk-width-1-1"
  .uk-form-row
    = f.label :cut_off_time, :class => "uk-form-label"    
    .uk-form-controls.uk-width-2-5
      = f.time_field :cut_off_time,:class => "uk-width-1-1"
  .uk-form-row
    .uk-form-controls.uk-width-2-5
      = f.submit 'Setup My Main Branch', :class => "uk-button uk-button-primary uk-width-1-1"
  .uk-margin-top
